<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Image Upload</title>

    <!-- Bootstrap -->
    <link href="/skin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/skin/css/bootstrap-theme.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Fotoğraf Yüklemece</h4></div>
            <div class="panel-body">
              {% if flash.danger is not empty  %}
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4>Hata...</h4>
                  {% if flash.danger is iterable %}
                    {% for key,  error in flash.danger %}
                    {{ error }} <br />
                    {% endfor %}
                  {% else %}
                     {{ flash.danger }}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              <!-- Standar Form -->

              <form action="\upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputFile">Foto Seç</label>
                  <input type="file" name="image">
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                   <label for="imageOne" class="col-sm-2 control-label">Fotograf 1:</label>
                   <div class="col-sm-2">
                     <input type="text" class="form-control" name="imageOneWidht" placeholder="Width" required="">
                   </div>
                   <div class="col-sm-2">
                     <input type="text" class="form-control" name="imageOneHeight" placeholder="Height" required="">
                   </div>
                 </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                   <label for="imageOne" class="col-sm-2 control-label">Fotograf 2:</label>
                   <div class="col-sm-2">
                     <input type="text" class="form-control" name="imageTwoWidht" placeholder="Width" required="">
                   </div>
                   <div class="col-sm-2">
                     <input type="text" class="form-control" name="imageTwoHeight" placeholder="Height" required="">
                   </div>
                 </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
                  </div>
                </div>
              </form>
              <div class="row">
              {% if image1 is not empty %}
              <div class="col-xs-6 col-md-3">
                <strong>{{image1}}</strong>
                <a href="{{image1}}" target="_blank" class="thumbnail">
                  <img src="{{image1}}" alt="...">
                </a>
              </div>
              {% endif %}
              {% if image2 is not empty %}
              <div class="col-xs-6 col-md-3">
                <strong>{{image2}}</strong>
                <a href="{{image2}}" target="_blank" class="thumbnail">
                  <img src="{{image2}}" alt="...">
                </a>
              </div>
              {% endif %}
            </div>
            </div>
          </div>
        </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/skin/js/bootstrap.min.js"></script>
  </body>
</html>
